.blog-post-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;

  #editor-container {
    flex: 1;
    overflow: auto;
  }

  .form-filter {
    flex-direction: row;
    padding: unset;

    .filter-item {
      flex-direction: column;
      .title {
        padding: 0 0 6px 0;
      }

      .input-container {
        width: 100%;
      }

      &.margin-right {
        margin-right: 16px;
      }
    }
  }
}
.editor-wrapper {
  max-height: calc(100% - 130px);
  height: 100%;
  .ql-container {
    max-height: calc(100% - 45px);
  }
}