html(lang="vi")
  head
    title= title
    link(rel="manifest" href="../publish/manifest.json")
    link(rel="icon" type="image/ico" sizes="48x48" href="favicon.ico")
    link(rel="apple-touch-icon" type="image/ico" sizes="48x48" href="favicon.ico")
    meta(name="theme-color" content="#10356f")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="Description" content="Some thing about me, some thing about you. You can build your own profile-page here!")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(property="og:title" content="Some thing about me, some thing about you.")
    meta(property="og:description" content="Some thing about me, some thing about you.")
    meta(property="og:image" content="http://somethingaboutme.info/resources/profile.jpg")
    meta(property="og:url" content="http://somethingaboutme.info")
    meta(name="twitter:card" content="summary_large_image")
    meta(property="og:site_name" content="somethingaboutme.info")
    meta(name="twitter:image:alt" content="Some thing about me, some thing about you.")
    link(rel="preconnect" href="//connect.facebook.net")
    link(rel="preconnect" href="//platform.twitter.com")
    link(rel="preconnect" href="//apis.google.com")
    link(rel="preconnect" href="//www.googletagmanager.com")
    link(rel="preconnect" href="//www.google-analytics.com")
    link(rel="preconnect" href="//syndication.twitter.com")
    link(rel="preconnect" href="//static.xx.fbcdn.net")
    link(rel="preconnect" href="//staticxx.facebook.com")
    link(rel="preconnect" href="//scontent.fhan2-1.fna.fbcdn.net")
    link(rel="preconnect" href="//scontent.fhan2-3.fna.fbcdn.net")
    link(rel="preconnect" href="//www.google.co.uk")
    link(rel="preconnect" href="//www.google.com")
    link(rel="preconnect" href="//stats.g.doubleclick.net")
    link(rel="dns-prefetch" href="//connect.facebook.net")
    link(rel="dns-prefetch" href="//platform.twitter.com")
    link(rel="dns-prefetch" href="//apis.google.com")
    link(rel="dns-prefetch" href="//www.googletagmanager.com")
    link(rel="dns-prefetch" href="//www.google-analytics.com")
    link(rel="dns-prefetch" href="//syndication.twitter.com")
    link(rel="dns-prefetch" href="//static.xx.fbcdn.net")
    link(rel="dns-prefetch" href="//scontent.fhan2-1.fna.fbcdn.net")
    link(rel="dns-prefetch" href="//scontent.fhan2-3.fna.fbcdn.net")
    link(rel="dns-prefetch" href="//staticxx.facebook.com")
    link(rel="dns-prefetch" href="//www.google.co.uk")
    link(rel="dns-prefetch" href="//www.google.com")
    link(rel="dns-prefetch" href="//stats.g.doubleclick.net")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", defer)
    link(rel="stylesheet" href="../material-design-icons/material-icons.css", defer)
    link(rel="preload" href="../material-design-icons/MaterialIcons-Regular.woff2" type="font/woff2" as="font" crossorigin="anonymous" async)
    link(rel="preload" href="../material-design-icons/MaterialIcons-Regular.woff" type="font/woff2" as="font" crossorigin="anonymous" async )
    script(src="dist/lazysizes.min.js", async)
    script(src="dist/ls.unveilhooks.min.js", async)
    style !{styles}
  body
    div(id='app') !{message}
    each s in scripts
      script(src=s, async)