html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
    script window.signinError = !{context}
    style !{styles}
  body
    div(id='app') !{body}
  script(src="/dist/login.js", async)