html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    script window.signupError = !{context}
  body
    div(id='app') !{body}
  script(src="/dist/register.js?v=" + resource_version, async)