html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(property="og:title" content="Some thing about me, some thing about you.")
    meta(property="og:description" content="Some thing about me, some thing about you.")
    meta(property="og:image" content="http://somethingaboutme.info/resources/profile.jpg")
    meta(property="og:url" content="http://somethingaboutme.info")
    meta(name="twitter:card" content="summary_large_image")
    meta(property="og:site_name" content="somethingaboutme.info")
    meta(name="twitter:image:alt" content="Some thing about me, some thing about you.")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", async)
    link(rel="stylesheet", href="../../material-design-icons/material-icons.css")
    link(rel="preload", href="../../material-design-icons/MaterialIcons-Regular.woff2", type="font/woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="../../material-design-icons/MaterialIcons-Regular.woff", type="font/woff2", as="font", crossorigin="anonymous")
    style !{styles}
  body
    div(id='app') !{body}