.topnav {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  transition: background 0.3s ease;
  position: absolute;
  background: #000000cc;
  min-height: 63px;
  z-index: 999;

  .nav-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .nav-user-info {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: white;
      padding: 14px 32px;
      position: relative;

      #user-info-greeting {
        user-select: none;
        cursor: pointer;
      }

      .user-info-menu {
        position: absolute;
        min-width: 200px;
        top: 100%;
        right: 30px;
        list-style-type: none;
        background: white;
        margin: 0;
        padding: 0;
        z-index: 1000;
        border-radius: 4px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.55);

        &::before {
          content: "";
          z-index: -1;
          position: absolute;
          width: 16px;
          height: 16px;
          background: white;
          top: -6px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }

        li {
          border-radius: 4px;
          &:hover,
          &:active {
            background: #f1f1f1;
          }
        }

        a {
          justify-content: flex-start !important;
          color: $primaryColor !important;

          svg,
          i {
            color: $primaryColor !important;
            fill: $primaryColor !important;
            margin-right: 16px;
          }
        }
      }

      .btn-logout,
      .btn-management {
        border: none;
        background: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 600;
        opacity: 0.75;

        svg {
          fill: red;
        }

        &:hover {
          opacity: 1;
        }
      }

      .btn-management {
        text-decoration: none;
        color: white;
        padding: 0;
        margin: 0;
        margin-right: 12px;
      }

      .btn-login {
        padding: 6px 12px;
        margin: 0;
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50px;
        transition: border-color 0.2s ease, border-color 0.2s ease;

        &:hover,
        &:active {
          border-color: $primaryColor;
        }
      }
    }
    #nav-toggle {
      height: 72px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn-menu-toggle {
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          position: relative;
        }
        span,
        span:before,
        span:after {
          user-select: none;
          cursor: pointer;
          border-radius: 1px;
          height: 3px;
          width: 26px;
          background: white;
          position: absolute;
          display: block;
          content: "";
          transition: all 300ms ease-in-out;
        }
        span:before {
          top: -8px;
        }
        span:after {
          bottom: -8px;
        }
      }
      &.active span {
        background-color: transparent;
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    .nav-items {
      align-items: flex-start;
      flex-direction: column;
      display: flex;
      width: 100%;
      transition: height 0.3s ease;
      display: none;
      align-items: center;
      justify-content: center;

      &.ready {
        display: flex;
        height: 100%;
      }

      &.mobile {
        display: none;
      }

      &.active {
        display: flex;
        height: 280px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      padding: 14px 32px;
      align-items: center;
      text-decoration: none;
      color: white;

      & span {
        position: relative;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
          &::after {
            width: 100%;
            transition: all 0.6s ease;
          }
        }
      }

      &:hover {
        & span::after {
          width: 100%;
          transition: all 0.6s ease;
        }
      }

      & span::after {
        content: " ";
        width: 0%;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 120%;
      }

      &.active {
        & span::after {
          width: 100%;
        }
      }
    }
  }
  &.fixed {
    position: fixed !important;
    width: 100%;
    background: $primaryColor;
    transition: background 0.3s ease;

    .btn-login {
      &:hover,
      &:active {
        border-color: white !important;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .topnav {
    background: unset;
  }
  #nav-toggle {
    display: none !important;
  }
  .nav-items {
    flex-direction: row !important;
  }
}
