.topnav {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  transition: background 0.4s ease;
  background: $primaryColor;
  height: 58px;
  align-items: center;

  .icon-home {
    text-decoration: none;
    color: white;
    fill: white;
    cursor: pointer;
    margin: 0 12px;
  }

  h3 {
    margin: 0;
    padding: 0;
    flex: 1;
    color: white;
    text-transform: uppercase;
  }

  #nav-toggle {
    margin: 16px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span {
      position: relative;
    }
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 26px;
      background: white;
      position: absolute;
      display: block;
      content: "";
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -8px;
    }
    span:after {
      bottom: -8px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .nav-user-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 14px 32px;

    .username {
      font-weight: bold;
      margin-right: 16px;
      margin-left: 6px;
    }

    .btn-logout {
      border: none;
      background: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: bold;
      opacity: 0.75;

      svg {
        fill: red;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .topnav {
    h3 {
      margin-left: 16px !important;
    }
  }
}

@media only screen and (min-width: 900px) {
  .topnav {
    #nav-toggle {
      display: none !important;
    }
    h3 {
      margin-left: 16px !important;
    }
  }
}
