@import "core";
@import "../../common-resources/quill.core.scss";

#app {
  overflow: hidden !important;
  overflow-y: unset;
  background-color: #9c9c9c;
}
.topnav {
  position: unset !important;
  background-color: $primaryColor !important;

  &.shrink {
    width: 100%;
  }

  .btn-login {
    &:hover,
    &:active {
      border-color: white !important;
    }
  }
}
.plane {
  width: 30px;
  height: 30px;
  border-radius: unset;
  right: 0;
}
.blog {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 1100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  &--marginTop {
    margin-top: 72px;
  }

  &__btnAsideToggle {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    background: $primaryColor;
    color: $colorLight;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &--close {
      width: 100%;
      height: unset;
      position: sticky;
      background-color: $bgColor;
      border-bottom: 1px solid #3a3a3a;
      padding: 12px 0;
      top: 0;
      transform: unset;
    }
  }

  &__aside {
    @include textColor();
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    z-index: 99;
    height: 100%;
    padding-bottom: 70px;
    &--width {
      width: 100%;
    }
    &--open {
      left: 0;
    }
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 0.3s ease;
  }

  &__body {
    flex: 1;
    padding: 30px 0 70px 15px;
    overflow-y: auto;
    .post-header {
      display: flex;
      flex-direction: column;
      border-radius: 4px 0;
      justify-content: flex-end;
      padding: 16px;

      .post-title {
        font-size: 1.7rem;
        font-weight: bolder;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .post-time {
        font-size: 13px;
        font-style: italic;
        margin-top: 16px;

        &:first-child {
          margin-right: 10px;
        }
      }
      .post-author {
        font-size: 13px;
        font-style: italic;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .post-content {
      padding: 16px;
      overflow: hidden;
      @include postContent();
      .editor-iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
      }
      .editor-iframe-container .editor-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .box-social-controls {
      padding: 16px;
      display: flex;
      flex-direction: row;
    }
  }
}
@media only screen and (min-width: 768px) {
  .blog {
    &__aside {
      &--width {
        width: 360px;
      }
    }
  }
  .plane {
    right: 12px;
  }
}
@media only screen and (min-width: 1100px) {
  .blog {
    &--marginTop {
      margin-top: 60px;
    }
    &__btnAsideToggle {
      display: none;
    }
    &__aside {
      left: 0;
      position: relative;
    }
    &__body {
      padding: 30px 15px 70px 30px;
    }
  }
}
