.box-search {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;

    .box-header {
        display: flex;

        .input-search-text {
            padding: 6px 12px;
            font-size: 13px;
            cursor: text;
            flex: 1 1 auto;
            word-break: break-all;
            margin-right: 16px;
            border-radius: 50px;
            border: 1px solid $primaryColor;

            &:focus {
                outline: 0px solid transparent;
            }
        }

        .btn-refresh {
            padding: 6px 12px;
            margin: 0;
            background: transparent;
            border: 2px solid $primaryColor;
            border-radius: 5px;
            color: $primaryColor;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50px;
            transition: opacity 0.3s ease;
            opacity: 0.75;

            &:hover,
            &:active {
                opacity: 1;
                outline: 0px solid transparent;
            }
        }
    }

    .box-body {
        display: flex;
        flex-direction: column;

        .box-search-status {
            margin: 16px 0;
        }

        .search-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            border-radius: 4px;
            background-color: white;
            align-items: center;
            cursor: pointer;

            .search-item-avatar {
                background-image: url("../../../common-resources/images/default-post-image.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 100px;
                height: 60px;
                border-radius: 4px;
            }

            .search-item-title {
                font-size: 14px;
                padding: 10px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                width: 100%;
                height: 60px;

                a {
                    text-decoration: none;
                    color: inherit;
                }

                p {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover,
                    &:active {
                        font-weight: bold;
                    }
                }
            }

            &:hover {
                .search-item-title {
                    font-weight: bold;
                }
            }
        }
    }
}
