.ql-toolbar {
    button {
        svg {
            width: 18px !important;
            height: 18px !important;
        }
    }
}

.editor-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.editor-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
