.box-timeline {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;

    ul,
    #timelineUL {
        list-style-type: none;
        .timeline-li:not(:last-child) {
            border-bottom: 1px solid #d9d9d9;
        }
    }

    #timelineUL {
        margin: 0;
        padding: 0;
        user-select: none;
        font-weight: bold;

        .timeline-item {
            position: relative;
            padding: 12px 0px;
            padding-left: 30px;
            line-height: 1.5715;
            cursor: pointer;
            transition: all 0.3s;

            .timeline-item-icon {
                text-align: center;
                text-transform: none;
                vertical-align: -0.125em;
                text-rendering: optimizeLegibility;
                position: absolute;
                top: 50%;
                left: 0px;
                display: inline-block;
                font-size: 24px;
                transform: translateY(-50%);
                transition: all 0.3s ease;

                &.down {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }

        .nested {
            display: none;
            padding-left: 30px;
            list-style-type: circle;

            li {
                padding: 6px 0;
                cursor: pointer;

                a {
                    color: inherit;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: normal;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }

        .active {
            display: block;
        }
    }
}
