.recent-post {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: white;
    align-items: center;
    cursor: pointer;

    .recent-post-avatar {
        background-image: url("../../../common-resources/images/default-post-image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 60px;
        border-radius: 4px;
    }

    .recent-post-title {
        font-size: 14px;
        padding: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 100%;
        height: 60px;

        a {
            text-decoration: none;
            color: inherit;
        }

        p {
            padding: 0;
            margin: 0;
            overflow: hidden;
            cursor: pointer;

            &:hover,
            &:active {
                font-weight: bold;
            }
        }
    }

    &:hover {
        .recent-post-title {
            font-weight: bold;
        }
    }
}