.duy-deptrai-calendar-container {
  min-width: 100px;
  min-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  position: relative;
  background-color: white;

  * {
    box-sizing: border-box;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .input-date {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    width: 100%;
    height: 35px;

    &.error {
      border-color: red;
      background-color: #d24d5710;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
    }
    .display-info {
      width: 100%;
      max-height: 50px;
      display: flex;
      align-items: center;
      padding: 6px 12px 6px 6px;
      cursor: pointer;
      user-select: none;
    }
  }

  .calendar {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;

    &.show {
      visibility: visible;
    }

    &.hide {
      visibility: hidden;
    }

    &.down {
      top: 100%;
    }
    &.up {
      bottom: 100%;
    }

    .header {
      display: flex;
      flex-direction: row;
      height: 30px;
      .prev,
      .next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px svg {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        span {
          font-weight: 500;
          font-size: 16px;
        }

        .myselect-container {
          .myselect-selected {
            padding: 6px;
            .myselect-option-selected {
              font-size: 12px;
            }
          }
          .myselect-options {
            &.open {
              padding: 6px;
            }
            .option {
              font-size: 12px;
              padding: 6px 0;
              width: 100%;
            }
          }
        }
      }
    }
    .body-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      user-select: none;

      .item-day-of-week-title {
        font-weight: 600;
        width: 35px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item-day {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &.selected {
          background-color: #d24d57 !important;
          color: #fff !important;
        }

        &.current-day {
          border: 1px solid #d24d57;
          color: #d24d57;
        }

        &.extra-day {
          color: #ccc;
        }

        &:hover,
        &:active {
          font-weight: bold;
          background-color: #d24d5710;
          color: black;
        }
      }
    }
    .calendar-timepicker-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      left: 0;
      width: 100%;
      background: white;
      transition: top 0.3s ease, height 0.3s ease, border 0.3s ease;
      position: absolute;
      height: 40px;

      &.active {
        top: 0;
        height: calc(100% - 1px);
        border-radius: 4px;
      }
      &.inactive {
        top: calc(100% - 50px);
      }

      .calendar-timepicker-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
      }
      .calendar-timepicker-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        .box-hour,
        .box-minute {
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            width: 36px;
            height: 36px;
          }
          .timepicker-input {
            max-width: 80px;
            padding: 12px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 25px;
            font-weight: 600;
            text-align: center;
          }
        }
        span {
          user-select: none;
          font-size: 25px;
          margin: 0 12px;
        }
      }
    }
  }
}
